#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Menu_item_5 {
  height: 20px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Menu_item_1 {
  height: 20px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Menu_item_3 {
  height: 20px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-instagram {
  height: 22px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-facebook {
  height: 22px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-twitter {
  height: 22px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Menu_item_4 {
  height: 41px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Menu_item_9 {
  height: 28px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}