#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-contact_us {
  height: 26px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Menu_item_1 {
  height: 26px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Menu_item_2 {
  height: 26px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Menu_item_4 {
  height: 41px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-Menu_item_9 {
  height: 28px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-instagram {
  height: 22px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-facebook {
  height: 22px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-twitter {
  height: 22px;
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-e3ec948f-a61b-4344-9ce4-987c7d7f5d0e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}