#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-instagram {
  height: 22px;
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-twitter {
  height: 22px;
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-facebook {
  height: 22px;
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Menu_item_2 {
  height: 21px;
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Menu_item_5 {
  height: 21px;
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Menu_item_1 {
  height: 21px;
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-10814778-1fa9-4b8b-95e1-a89fdae1ff81 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}