#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cbbb2dc-dd9f-403e-9060-8b2f60c18ced > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}