#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Menu_item_5 {
  height: 20px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Menu_item_2 {
  height: 20px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Menu_item_1 {
  height: 20px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-instagram {
  height: 22px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-facebook {
  height: 22px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-twitter {
  height: 22px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Menu_item_4 {
  height: 41px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Menu_item_9 {
  height: 28px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}