#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c7dbac1-fd3d-4475-80c7-ac20c3602250 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}