#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-about_us {
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-contact_us {
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 {
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_5 {
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_4 {
  height: 41px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_9 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-facebook {
  height: 22px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-twitter {
  height: 22px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-instagram {
  height: 22px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}